<form action="/<%=params[:filename] %>" method="post">
  <label for="new_value">Edit the content of <%= params[:filename] %></label>
  <div>
    <textarea name="content" id="content" rows="20" cols="100"><%= @content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>