<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS files</title>
    <meta charset="UTF-8">
  </head>
<body>
  <%if session[:notification] %>
    <p><%= session.delete(:notification) %></p>
  <% end %>

  <ul>
    <% @filenames.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <form action="/<%= file %>/edit" method="get">
        <button type="submit">Edit</button>
      </form>
    </li>
    <% end %>
  </ul>
</body>
</html>